/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.custom-footer{
  background-color: rgb(108, 154, 108);
  /* position: fixed;
  bottom: 0px;
  width: 100%; */
}


.custom-header{
  position: fixed;
  top: 0px;
  width: 100%;
}

.base-bg-color{
  background-color: rgb(108, 154, 108);
}

.base-color{
  color: rgb(108, 154, 108);
}
.carousel-inner {
  /* padding: 0 50px !important; */
  /* display: flex;
  justify-content: center; */
}

.move-left {
  animation: slideLeft 5s linear infinite;
}
.h-200{
  height: 200px;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* For tablets (screen width between 768px and 1024px) */
@media (min-width: 768px) {
  .navbar-brand img{
    width: 210px; 
    height: 110px;
  }
  .carousel {
    max-width: 100%;
  }
  
  .carousel img {
    height: 100%;
  }

  .banner-desc{
    display: block;
    
  }

}

/* For mobile devices (screen width below 768px) */
@media (max-width: 768px) {
  .carousel {
    max-width: 100%;
  }
  
  .carousel img {
    height: 200px;
  }
  .banner-title{
    font-size: medium;
  }
  .banner-desc{
    display: none;
    /* font-size: small; */
  }
  .navbar-brand img{
    width: 90px; 
    height: 60px;
  }
}